<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I'm Sydney. I grew up in Orange County, California, and now attend <a href="http://www.calpoly.edu/" target="_blank">Cal Poly San Luis Obispo</a>. I'm currently pursuing an undergraduate degree in Business Administration for Accounting, and a minor in Psychology. I'm interested in following a career in accounting and obtaining a CPA license. </p>
</div><!--//summary-->
</section><!--//section-->
