 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">B.S. Business Administration</h4>
    <h5 class="meta">California Polytechnic State University</h5>
    <div class="time">Expected Graduation December 2019</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Diploma</h4>
    <h5 class="meta">Canyon High School(Anaheim)</h5>
    <div class="time">2012-2016</div>
</div><!--//item-->
</div><!--//education-container-->
